* text=auto !eol
AFNetworking/AFNetworking.podspec -text
AFNetworking/AFNetworking/AFHTTPClient.h -text
AFNetworking/AFNetworking/AFHTTPClient.m -text
AFNetworking/AFNetworking/AFHTTPRequestOperation.h -text
AFNetworking/AFNetworking/AFHTTPRequestOperation.m -text
AFNetworking/AFNetworking/AFImageCache.h -text
AFNetworking/AFNetworking/AFImageCache.m -text
AFNetworking/AFNetworking/AFImageRequestOperation.h -text
AFNetworking/AFNetworking/AFImageRequestOperation.m -text
AFNetworking/AFNetworking/AFJSONRequestOperation.h -text
AFNetworking/AFNetworking/AFJSONRequestOperation.m -text
AFNetworking/AFNetworking/AFNetworkActivityIndicatorManager.h -text
AFNetworking/AFNetworking/AFNetworkActivityIndicatorManager.m -text
AFNetworking/AFNetworking/AFNetworking.h -text
AFNetworking/AFNetworking/AFPropertyListRequestOperation.h -text
AFNetworking/AFNetworking/AFPropertyListRequestOperation.m -text
AFNetworking/AFNetworking/AFURLConnectionOperation.h -text
AFNetworking/AFNetworking/AFURLConnectionOperation.m -text
AFNetworking/AFNetworking/AFXMLRequestOperation.h -text
AFNetworking/AFNetworking/AFXMLRequestOperation.m -text
AFNetworking/AFNetworking/UIImageView+AFNetworking.h -text
AFNetworking/AFNetworking/UIImageView+AFNetworking.m -text
AFNetworking/LICENSE -text
AFNetworking/Mac[!!-~]Example/AFNetworking[!!-~]Mac[!!-~]Example.xcodeproj/project.pbxproj -text
AFNetworking/Mac[!!-~]Example/AppDelegate.h -text
AFNetworking/Mac[!!-~]Example/AppDelegate.m -text
AFNetworking/Mac[!!-~]Example/Classes/AFGowallaAPIClient.h -text
AFNetworking/Mac[!!-~]Example/Classes/AFGowallaAPIClient.m -text
AFNetworking/Mac[!!-~]Example/Classes/Controllers/NearbySpotsController.h -text
AFNetworking/Mac[!!-~]Example/Classes/Controllers/NearbySpotsController.m -text
AFNetworking/Mac[!!-~]Example/Classes/Models/Spot.h -text
AFNetworking/Mac[!!-~]Example/Classes/Models/Spot.m -text
AFNetworking/Mac[!!-~]Example/Images/placeholder-stamp.png -text svneol=unset#unset
AFNetworking/Mac[!!-~]Example/Info.plist -text
AFNetworking/Mac[!!-~]Example/Prefix.pch -text
AFNetworking/Mac[!!-~]Example/Vendor/JSONKit/JSONKit.h -text
AFNetworking/Mac[!!-~]Example/Vendor/JSONKit/JSONKit.m -text
AFNetworking/Mac[!!-~]Example/Vendor/TTT/TTTLocationFormatter.h -text
AFNetworking/Mac[!!-~]Example/Vendor/TTT/TTTLocationFormatter.m -text
AFNetworking/Mac[!!-~]Example/en.lproj/Credits.rtf -text
AFNetworking/Mac[!!-~]Example/en.lproj/MainMenu.xib -text
AFNetworking/Mac[!!-~]Example/main.m -text
AFNetworking/README.md -text
AFNetworking/iOS[!!-~]Example/AFNetworking[!!-~]iOS[!!-~]Example.xcodeproj/project.pbxproj -text
AFNetworking/iOS[!!-~]Example/AppDelegate.h -text
AFNetworking/iOS[!!-~]Example/AppDelegate.m -text
AFNetworking/iOS[!!-~]Example/Classes/AFGowallaAPIClient.h -text
AFNetworking/iOS[!!-~]Example/Classes/AFGowallaAPIClient.m -text
AFNetworking/iOS[!!-~]Example/Classes/Controllers/NearbySpotsViewController.h -text
AFNetworking/iOS[!!-~]Example/Classes/Controllers/NearbySpotsViewController.m -text
AFNetworking/iOS[!!-~]Example/Classes/Models/Spot.h -text
AFNetworking/iOS[!!-~]Example/Classes/Models/Spot.m -text
AFNetworking/iOS[!!-~]Example/Classes/Views/SpotTableViewCell.h -text
AFNetworking/iOS[!!-~]Example/Classes/Views/SpotTableViewCell.m -text
AFNetworking/iOS[!!-~]Example/Default.png -text svneol=unset#unset
AFNetworking/iOS[!!-~]Example/Default@2x.png -text svneol=unset#unset
AFNetworking/iOS[!!-~]Example/Icon.png -text svneol=unset#unset
AFNetworking/iOS[!!-~]Example/Icon@2x.png -text svneol=unset#unset
AFNetworking/iOS[!!-~]Example/Images/placeholder-stamp.png -text svneol=unset#unset
AFNetworking/iOS[!!-~]Example/Images/placeholder-stamp@2x.png -text svneol=unset#unset
AFNetworking/iOS[!!-~]Example/Info.plist -text
AFNetworking/iOS[!!-~]Example/Prefix.pch -text
AFNetworking/iOS[!!-~]Example/Vendor/JSONKit/JSONKit.h -text
AFNetworking/iOS[!!-~]Example/Vendor/JSONKit/JSONKit.m -text
AFNetworking/iOS[!!-~]Example/Vendor/TTT/TTTLocationFormatter.h -text
AFNetworking/iOS[!!-~]Example/Vendor/TTT/TTTLocationFormatter.m -text
AFNetworking/iOS[!!-~]Example/main.m -text
/ASIAuthenticationDialog.h -text
/ASIAuthenticationDialog.m -text
/ASICacheDelegate.h -text
/ASIDataCompressor.h -text
/ASIDataCompressor.m -text
/ASIDataDecompressor.h -text
/ASIDataDecompressor.m -text
/ASIDownloadCache.h -text
/ASIDownloadCache.m -text
/ASIFormDataRequest.h -text
/ASIFormDataRequest.m -text
/ASIHTTPRequest.h -text
/ASIHTTPRequest.m -text
/ASIHTTPRequestConfig.h -text
/ASIHTTPRequestDelegate.h -text
/ASIInputStream.h -text
/ASIInputStream.m -text
/ASINetworkQueue.h -text
/ASINetworkQueue.m -text
/ASIProgressDelegate.h -text
/AboutViewController.xib -text
/AddSiteViewController-iPad.xib -text
/AddSiteViewController.xib -text
/AddUsersBlogsViewController-iPad.xib -text
/AddUsersBlogsViewController.xib -text
/BetaFeedbackViewController.xib -text
/BlogSettingsView-iPad.xib -text
/BlogSplitViewDetailViewController.xib -text
/BlogViewController.xib -text
/CTidy.h -text
/CTidy.m -text
/CXMLDocument.h -text
/CXMLDocument.m -text
/CXMLDocument_CreationExtensions.h -text
/CXMLDocument_CreationExtensions.m -text
/CXMLDocument_PrivateExtensions.h -text
/CXMLDocument_PrivateExtensions.m -text
/CXMLElement.h -text
/CXMLElement.m -text
/CXMLElement_CreationExtensions.h -text
/CXMLElement_CreationExtensions.m -text
/CXMLElement_ElementTreeExtensions.h -text
/CXMLElement_ElementTreeExtensions.m -text
/CXMLNamespaceNode.h -text
/CXMLNamespaceNode.m -text
/CXMLNode.h -text
/CXMLNode.m -text
/CXMLNode_CreationExtensions.h -text
/CXMLNode_CreationExtensions.m -text
/CXMLNode_PrivateExtensions.h -text
/CXMLNode_PrivateExtensions.m -text
/CXMLNode_XPathExtensions.h -text
/CXMLNode_XPathExtensions.m -text
Classes/AboutViewController.h -text
Classes/AboutViewController.m -text
Classes/AbstractPost.h -text
Classes/AbstractPost.m -text
Classes/AddSiteViewController.h -text
Classes/AddSiteViewController.m -text
Classes/AddUsersBlogsViewController.h -text
Classes/AddUsersBlogsViewController.m -text
Classes/BetaFeedbackViewController.h -text
Classes/BetaFeedbackViewController.m -text
Classes/BetaUIWindow.h -text
Classes/BetaUIWindow.m -text
Classes/Blog.h -text
Classes/Blog.m -text
Classes/BlogSelectorButton.h -text
Classes/BlogSelectorButton.m -text
Classes/BlogSelectorViewController.h -text
Classes/BlogSelectorViewController.m -text
Classes/BlogSplitViewDetailViewController.h -text
Classes/BlogSplitViewDetailViewController.m -text
Classes/BlogViewController.h -text
Classes/BlogViewController.m -text
Classes/BlogsTableViewCell.h -text
Classes/BlogsTableViewCell.m -text
Classes/BlogsViewController.h -text
Classes/BlogsViewController.m -text
Classes/BlogsViewController.xib -text
Classes/CDeviceSupport.h -text
Classes/CDeviceSupport.m -text
Classes/CPopoverManager.h -text
Classes/CPopoverManager.m -text
Classes/Category.h -text
Classes/Category.m -text
Classes/Comment.h -text
Classes/Comment.m -text
Classes/CommentTableViewCell.h -text
Classes/CommentTableViewCell.m -text
Classes/CommentViewController.h -text
Classes/CommentViewController.m -text
Classes/CommentsTableViewDelegate.h -text
Classes/CommentsViewController.h -text
Classes/CommentsViewController.m -text
Classes/Constants.h -text
Classes/Coordinate.h -text
Classes/Coordinate.m -text
Classes/CrashReportViewController.h -text
Classes/CrashReportViewController.m -text
Classes/CrashReporter.framework/CrashReporter -text
Classes/CrashReporter.framework/Headers -text
Classes/CrashReporter.framework/Resources -text
Classes/CrashReporter.framework/Versions/A/CrashReporter -text
Classes/CrashReporter.framework/Versions/A/Headers/CrashReporter.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReport.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReportApplicationInfo.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReportBinaryImageInfo.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReportExceptionInfo.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReportFormatter.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReportProcessInfo.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReportSignalInfo.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReportSystemInfo.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReportTextFormatter.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReportThreadInfo.h -text
Classes/CrashReporter.framework/Versions/A/Headers/PLCrashReporter.h -text
Classes/CrashReporter.framework/Versions/A/Resources/Info.plist -text
Classes/CrashReporter.framework/Versions/Current -text
Classes/DateUtils.h -text
Classes/DateUtils.m -text
Classes/EGOTableViewPullRefresh/EGORefreshTableHeaderView.h -text
Classes/EGOTableViewPullRefresh/EGORefreshTableHeaderView.m -text
Classes/EditPageViewController.h -text
Classes/EditPageViewController.m -text
Classes/EditPostViewController.h -text
Classes/EditPostViewController.m -text
Classes/EditSiteViewController.h -text
Classes/EditSiteViewController.m -text
Classes/FakeMigration.h -text
Classes/FakeMigration.m -text
Classes/FileLogger.h -text
Classes/FileLogger.m -text
Classes/FilteredWebCache.h -text
Classes/FilteredWebCache.m -text
Classes/HelpViewController.h -text
Classes/HelpViewController.m -text
Classes/ImageCache.h -text
Classes/ImageCache.m -text
Classes/MediaObjectViewController.h -text
Classes/MediaObjectViewController.m -text
Classes/MigrateBlogsFromFiles.h -text
Classes/MigrateBlogsFromFiles.m -text
Classes/NSData+Base64.h -text
Classes/NSData+Base64.m -text
Classes/NSString+Util.h -text
Classes/NSString+Util.m -text
Classes/NSString+XMLExtensions.h -text
Classes/NSString+XMLExtensions.m -text
Classes/NSURL+IDN.h -text
Classes/NSURL+IDN.m -text
Classes/Page.h -text
Classes/Page.m -text
Classes/PageViewController.h -text
Classes/PageViewController.m -text
Classes/PagesViewController.h -text
Classes/PagesViewController.m -text
Classes/Post.h -text
Classes/Post.m -text
Classes/PostAnnotation.h -text
Classes/PostAnnotation.m -text
Classes/PostMediaViewController.h -text
Classes/PostMediaViewController.m -text
Classes/PostPreviewViewController.h -text
Classes/PostPreviewViewController.m -text
Classes/PostSettingsHelpViewController.h -text
Classes/PostSettingsHelpViewController.m -text
Classes/PostSettingsViewController.h -text
Classes/PostSettingsViewController.m -text
Classes/PostTableViewCell.h -text
Classes/PostTableViewCell.m -text
Classes/PostToAbstractPost.h -text
Classes/PostToAbstractPost.m -text
Classes/PostViewController.h -text
Classes/PostViewController.m -text
Classes/PostsViewController.h -text
Classes/PostsViewController.m -text
Classes/QuickPhotoButton.h -text
Classes/QuickPhotoButton.m -text
Classes/QuickPhotoUploadProgressController.h -text
Classes/QuickPhotoUploadProgressController.m -text
Classes/QuickPhotoUploadProgressController.xib -text
Classes/QuickPhotoViewController.h -text
Classes/QuickPhotoViewController.m -text
Classes/QuickPicturePreviewView.h -text
Classes/QuickPicturePreviewView.m -text
Classes/SDURLCache.h -text
Classes/SDURLCache.m -text
Classes/StatsChartViewController.h -text
Classes/StatsChartViewController.m -text
Classes/StatsPageControlViewController.h -text
Classes/StatsPageControlViewController.m -text
Classes/StatsTableCell.h -text
Classes/StatsTableCell.m -text
Classes/StatsTableViewController.h -text
Classes/StatsTableViewController.m -text
Classes/UIDevice-Hardware.h -text
Classes/UIDevice-Hardware.m -text
Classes/UIImageView+Gravatar.h -text
Classes/UIImageView+Gravatar.m -text
Classes/UINavigationController+FormSheet.h -text
Classes/UINavigationController+FormSheet.m -text
Classes/UITableViewActivityCell.h -text
Classes/UITableViewActivityCell.m -text
Classes/UITableViewSwitchCell.h -text
Classes/UITableViewSwitchCell.m -text
Classes/UITableViewTextFieldCell.h -text
Classes/UITableViewTextFieldCell.m -text
Classes/UIViewController_iPadExtensions.h -text
Classes/UIViewController_iPadExtensions.m -text
Classes/WPAddCategoryViewController.h -text
Classes/WPAddCategoryViewController.m -text
Classes/WPCategoriesController.h -text
Classes/WPCategoriesController.m -text
Classes/WPCategoryTree.h -text
Classes/WPCategoryTree.m -text
Classes/WPDataController.h -text
Classes/WPDataController.m -text
Classes/WPImagePickerController.h -text
Classes/WPImagePickerController.m -text
Classes/WPKeyboardToolbar.h -text
Classes/WPKeyboardToolbar.m -text
Classes/WPKeyboardToolbarButtonItem.h -text
Classes/WPKeyboardToolbarButtonItem.m -text
Classes/WPLabel.h -text
Classes/WPLabel.m -text
Classes/WPMediaUploader.h -text
Classes/WPMediaUploader.m -text
Classes/WPPageControl.h -text
Classes/WPPageControl.m -text
Classes/WPProgressHUD.h -text
Classes/WPProgressHUD.m -text
Classes/WPReachability.h -text
Classes/WPReachability.m -text
Classes/WPReaderViewController.h -text
Classes/WPReaderViewController.m -text
Classes/WPSegmentedSelectionTableViewController.h -text
Classes/WPSegmentedSelectionTableViewController.m -text
Classes/WPSelectionTableViewController.h -text
Classes/WPSelectionTableViewController.m -text
Classes/WPWebViewController.h -text
Classes/WPWebViewController.m -text
Classes/WPcomLoginViewController.h -text
Classes/WPcomLoginViewController.m -text
Classes/WebSignupViewController.h -text
Classes/WebSignupViewController.m -text
Classes/WelcomeViewController.h -text
Classes/WelcomeViewController.m -text
Classes/WordPress-1-2.xcmappingmodel/xcmapping.xml -text
Classes/WordPress.xcdatamodeld/.xccurrentversion -text
Classes/WordPress.xcdatamodeld/WordPress[!!-~]2.xcdatamodel/elements -text svneol=unset#unset
Classes/WordPress.xcdatamodeld/WordPress[!!-~]2.xcdatamodel/layout -text svneol=unset#unset
Classes/WordPress.xcdatamodeld/WordPress[!!-~]3.xcdatamodel/elements -text svneol=unset#unset
Classes/WordPress.xcdatamodeld/WordPress[!!-~]3.xcdatamodel/layout -text svneol=unset#unset
Classes/WordPress.xcdatamodeld/WordPress.xcdatamodel/elements -text
Classes/WordPress.xcdatamodeld/WordPress.xcdatamodel/layout -text
Classes/WordPressAppDelegate.h -text
Classes/WordPressAppDelegate.m -text
Classes/fabric.png -text svneol=unset#unset
Classes/stats.png -text
Classes/stats@2x.png -text
/CommentViewController.xib -text
/CommentsViewController.xib -text
/CrashReportView.xib -text
Creation/CXMLDocument_CreationExtensions.h -text
Creation/CXMLDocument_CreationExtensions.m -text
Creation/CXMLNode_CreationExtensions.h -text
Creation/CXMLNode_CreationExtensions.m -text
/Default-Landscape.png -text svneol=unset#unset
/Default-Portrait.png -text svneol=unset#unset
/Default.png -text
/Default@2x.png -text
/EditPostViewController-iPad.xib -text
/EditPostViewController.xib -text
/EditSiteViewController.xib -text
/Entitlements.plist -text
FlurryLib/FlurryAPI.h -text
FlurryLib/FlurryAdDelegate.h -text
FlurryLib/libFlurry.a -text svneol=unset#unset
/HelpViewController.xib -text
/Icon-72.png -text
/Icon-Small-50.png -text
/Icon-Small.png -text
/Icon-Small@2x.png -text
/Icon-dev-72.png -text svneol=unset#unset
/Icon-dev.png -text svneol=unset#unset
/Icon-dev@2x.png -text svneol=unset#unset
/Icon.png -text svneol=unset#unset
/Icon@2x.png -text svneol=unset#unset
/Info-beta.plist -text
/Info-dev.plist -text
/Info.plist -text
/MainBackground.png -text
/MainWindow.xib -text
/Media.h -text
/Media.m -text
/MediaObjectView.xib -text
/PostMediaViewController-iPad.xib -text
/PostMediaViewController.xib -text
/PostPreviewViewController.xib -text
/PostSettingsViewController.xib -text
/PostViewController-iPad.xib -text
/QuickPhotoViewController.xib -text
Reachability/Reachability.h -text
Reachability/Reachability.m -text
/RegexKitLite.h -text
/RegexKitLite.m -text
Resources-iPad/MainWindow-iPad.xib -text
/RoundedRectBlack.png -text
Settings.bundle/Root.plist -text
Settings.bundle/en.lproj/Root.strings -text
/StatsCategoryViewController.xib -text
/StatsChartViewController-iPad.xib -text
/StatsChartViewController.xib -text
/StatsPageControlViewController-iPad.xib -text
/StatsPageControlViewController.xib -text
/StatsTableViewController-iPad.xib -text
/StatsTableViewController.xib -text
/ToolbarIconCamera.png -text svneol=unset#unset
/ToolbarIconEye.png -text svneol=unset#unset
/ToolbarIconGear.png -text svneol=unset#unset
/ToolbarIconLocation.png -text svneol=unset#unset
/TouchXML.h -text
/UIImage+Alpha.h -text
/UIImage+Alpha.m -text
/UIImage+Resize.h -text
/UIImage+Resize.m -text
/UIImage+RoundedCorner.h -text
/UIImage+RoundedCorner.m -text
/UITableViewActivityCell.xib -text
/UITableViewSwitchCell.xib -text
/WPAFNetworking.h -text
/WPAddCategoryViewController.xib -text
/WPCategoriesController.xib -text
/WPReaderViewController.xib -text
/WPSelectionTableViewController.xib -text
/WPWebViewController-iPad.xib -text
/WPWebViewController.xib -text
/WPcomLoginViewController-iPad-stats.xib -text
/WPcomLoginViewController-iPad.xib -text
/WPcomLoginViewController.xib -text
/WPpregressHUDBackground.png -text
/WPpregressHUDBackground@2x.png -text
/WebSignupViewController-iPad.xib -text
/WebSignupViewController.xib -text
/WelcomeViewController-iPad.xib -text
/WelcomeViewController.xib -text
/WordPress[!!-~]copy-Info.plist -text
WordPress.xcodeproj/project.pbxproj -text
/WordPress_Prefix.pch -text
/XMLRPCConnection.h -text
/XMLRPCConnection.m -text
/XMLRPCDecoder.h -text
/XMLRPCDecoder.m -text
/XMLRPCEncoder.h -text
/XMLRPCEncoder.m -text
/XMLRPCExtensions.h -text
/XMLRPCExtensions.m -text
/XMLRPCRequest.h -text
/XMLRPCRequest.m -text
/XMLRPCResponse.h -text
/XMLRPCResponse.m -text
/XMLValueDecoder.h -text
/XMLValueDecoder.m -text
/attachment.png -text svneol=unset#unset
/attachment@2x.png -text svneol=unset#unset
/autosave.png -text
/autosave@2x.png -text
/blavatar-wpcom.png -text
/blavatar-wpcom@2x.png -text
/blavatar-wporg.png -text
/blavatar-wporg@2x.png -text
/blockquote.png -text svneol=unset#unset
/blockquote@2x.png -text svneol=unset#unset
/blockquote~ipad.png -text svneol=unset#unset
/blueArrow.png -text svneol=unset#unset
/blueArrow@2x.png -text svneol=unset#unset
/bold.png -text svneol=unset#unset
/bold@2x.png -text svneol=unset#unset
/bold~ipad.png -text svneol=unset#unset
c_tidy/access.c -text
c_tidy/access.h -text
c_tidy/alloc.c -text
c_tidy/attrask.c -text
c_tidy/attrdict.c -text
c_tidy/attrdict.h -text
c_tidy/attrget.c -text
c_tidy/attrs.c -text
c_tidy/attrs.h -text
c_tidy/buffio.c -text
c_tidy/buffio.h -text
c_tidy/charsets.c -text
c_tidy/charsets.h -text
c_tidy/clean.c -text
c_tidy/clean.h -text
c_tidy/config.c -text
c_tidy/config.h -text
c_tidy/entities.c -text
c_tidy/entities.h -text
c_tidy/fileio.c -text
c_tidy/fileio.h -text
c_tidy/forward.h -text
c_tidy/iconvtc.c -text
c_tidy/iconvtc.h -text
c_tidy/istack.c -text
c_tidy/lexer.c -text
c_tidy/lexer.h -text
c_tidy/localize.c -text
c_tidy/mappedio.c -text
c_tidy/mappedio.h -text
c_tidy/message.h -text
c_tidy/parser.c -text
c_tidy/parser.h -text
c_tidy/platform.h -text
c_tidy/pprint.c -text
c_tidy/pprint.h -text
c_tidy/streamio.c -text
c_tidy/streamio.h -text
c_tidy/tagask.c -text
c_tidy/tags.c -text
c_tidy/tags.h -text
c_tidy/tidy-int.h -text
c_tidy/tidy.h -text
c_tidy/tidyenum.h -text
c_tidy/tidylib.c -text
c_tidy/tmbstr.c -text
c_tidy/tmbstr.h -text
c_tidy/utf8.c -text
c_tidy/utf8.h -text
c_tidy/version.h -text
c_tidy/win32tc.c -text
c_tidy/win32tc.h -text
/camera.png -text svneol=unset#unset
/camera@2x.png -text svneol=unset#unset
/categoriesHighlighted.png -text svneol=unset#unset
/categoriesHighlighted@2x.png -text svneol=unset#unset
/category_child.png -text
/category_child@2x.png -text
/check.png -text
/check@2x.png -text
/commentDelete.png -text
/comments.png -text
/comments@2x.png -text
de.lproj/Localizable.strings -text svneol=unset#unset
/defaultPostTemplate.html -text
/defaultPostTemplate_old.html -text
/doneButton.png -text
/doneButton@2x.png -text
/doneButtonHighlighted.png -text
/doneButtonHighlighted@2x.png -text
/doneButtonLandscape.png -text
/doneButtonLandscape@2x.png -text
/doneButtonLandscapeHighlighted.png -text
/doneButtonLandscapeHighlighted@2x.png -text
/down.png -text
/down@2x.png -text
/downArrow.png -text svneol=unset#unset
/downArrow@2x.png -text svneol=unset#unset
en.lproj/Localizable.strings -text svneol=unset#unset
es.lproj/Localizable.strings -text svneol=unset#unset
fr.lproj/Localizable.strings -text svneol=unset#unset
/getLocation.png -text
/getLocation@2x.png -text
/gettingLocation.png -text
/gravatar.jpg -text
/hasLocation.png -text
/hasLocation@2x.png -text
he.lproj/Localizable.strings -text svneol=unset#unset
/help.png -text
hr.lproj/Localizable.strings -text svneol=unset#unset
/i18n_download -text
/iTunesArtwork -text
it.lproj/Localizable.strings -text
/italic.png -text svneol=unset#unset
/italic@2x.png -text svneol=unset#unset
/italic~ipad.png -text svneol=unset#unset
ja.lproj/Localizable.strings -text svneol=unset#unset
/keyboardButton.png -text svneol=unset#unset
/keyboardButton@2x.png -text svneol=unset#unset
/keyboardButtonHighlighted.png -text
/keyboardButtonHighlighted@2x.png -text
/keyboardButtonLandscape.png -text
/keyboardButtonLandscape@2x.png -text
/keyboardButtonLandscapeHighlighted.png -text
/keyboardButtonLandscapeHighlighted@2x.png -text
/keyboardButtoniPad.png -text
/keyboardButtoniPadHighlighted.png -text
/keyboardButton~ipad.png -text svneol=unset#unset
/keyboardClose~ipad.png -text svneol=unset#unset
/left.png -text svneol=unset#unset
/left@2x.png -text svneol=unset#unset
/license.txt -text
/link.png -text svneol=unset#unset
/link@2x.png -text svneol=unset#unset
/link~ipad.png -text svneol=unset#unset
/localize.py -text
/lock.png -text
/logo_welcome.png -text
/logo_welcome@2x.png -text
/logo_wpcom.png -text
/logo_wpcom@2x.png -text
/logo_wporg.png -text
/logo_wporg@2x.png -text
/main.m -text
/movie.png -text svneol=unset#unset
/movie@2x.png -text svneol=unset#unset
nb.lproj/Localizable.strings -text svneol=unset#unset
/next.png -text svneol=unset#unset
/next@2x.png -text svneol=unset#unset
nl.lproj/Localizable.strings -text svneol=unset#unset
/page_control_blue.png -text
/page_control_blue@2x.png -text
/page_control_blue_active.png -text
/page_control_blue_active@2x.png -text
/pages.png -text
/pages@2x.png -text
/paperclip.png -text
/paperclip@2x.png -text
/photos.png -text
/photos@2x.png -text
/posts.png -text
/posts@2x.png -text
/preview.png -text
/preview@2x.png -text
/previous.png -text svneol=unset#unset
/previous@2x.png -text svneol=unset#unset
pt.lproj/Localizable.strings -text svneol=unset#unset
/quickPhotoButton.png -text svneol=unset#unset
/quickPhotoButton@2x.png -text svneol=unset#unset
/quickPhotoButtonBackground.png -text
/quickPhotoButtonBackground@2x.png -text
/quickPhotoButtonHighlighted.png -text svneol=unset#unset
/quickPhotoButtonHighlighted@2x.png -text
/quickPhotoTextView.png -text svneol=unset#unset
/quickPhotoTextView@2x.png -text svneol=unset#unset
/read.png -text
/read@2x.png -text
/redoDisabled~ipad.png -text svneol=unset#unset
/redo~ipad.png -text svneol=unset#unset
/right.png -text svneol=unset#unset
/right@2x.png -text svneol=unset#unset
/settings.png -text
/settings@2x.png -text
/stats.png -text
/stats@2x.png -text
sv.lproj/Localizable.strings -text svneol=unset#unset
/sync.png -text svneol=unset#unset
/sync@2x.png -text
/tabPointer.png -text svneol=unset#unset
/tabPointer@2x.png -text svneol=unset#unset
/table_sep.png -text svneol=unset#unset
/table_sep@2x.png -text svneol=unset#unset
/toggleButton.png -text
/toggleButton@2x.png -text
/toggleButtonExtended.png -text
/toggleButtonExtended@2x.png -text
/toggleButtonMain.png -text
/toggleButtonMain@2x.png -text
/toolbarBlockquote.png -text
/toolbarBlockquote@2x.png -text
/toolbarBlockquoteHighlighted.png -text
/toolbarBlockquoteHighlighted@2x.png -text
/toolbarBlockquoteiPad.png -text
/toolbarBold.png -text
/toolbarBold@2x.png -text
/toolbarBoldHighlighted.png -text
/toolbarBoldHighlighted@2x.png -text
/toolbarBoldiPad.png -text
/toolbarCode.png -text
/toolbarCode@2x.png -text
/toolbarCodeHighlighted.png -text
/toolbarCodeHighlighted@2x.png -text
/toolbarCodeiPad.png -text
/toolbarDel.png -text
/toolbarDel@2x.png -text
/toolbarDelHighlighted.png -text
/toolbarDelHighlighted@2x.png -text
/toolbarDeliPad.png -text
/toolbarItalic.png -text
/toolbarItalic@2x.png -text
/toolbarItalicHighlighted.png -text
/toolbarItalicHighlighted@2x.png -text
/toolbarItaliciPad.png -text
/toolbarLi.png -text
/toolbarLi@2x.png -text
/toolbarLiHighlighted.png -text
/toolbarLiHighlighted@2x.png -text
/toolbarLiiPad.png -text
/toolbarLink.png -text
/toolbarLink@2x.png -text
/toolbarLinkHighlighted.png -text
/toolbarLinkHighlighted@2x.png -text
/toolbarLinkiPad.png -text
/toolbarMore.png -text
/toolbarMore@2x.png -text
/toolbarMoreHighlighted.png -text
/toolbarMoreHighlighted@2x.png -text
/toolbarMoreiPad.png -text
/toolbarOl.png -text
/toolbarOl@2x.png -text
/toolbarOlHighlighted.png -text
/toolbarOlHighlighted@2x.png -text
/toolbarOliPad.png -text
/toolbarUl.png -text
/toolbarUl@2x.png -text
/toolbarUlHighlighted.png -text
/toolbarUlHighlighted@2x.png -text
/toolbarUliPad.png -text
/uncheck.png -text
/uncheck@2x.png -text
/uncrustify.cfg -text
/undoDisabled~ipad.png -text svneol=unset#unset
/undo~ipad.png -text svneol=unset#unset
/up.png -text
/up@2x.png -text
/update-translations.rb -text
/video_thumbnail.png -text
/welcome_bg.png -text
/welcome_bg@2x.png -text
/welcome_btn_normal.png -text
/welcome_btn_normal@2x.png -text
/welcome_btn_over.png -text
/welcome_btn_over@2x.png -text
/whitebg.png -text
/write.png -text
/write@2x.png -text
/xhtml1-transitional.dtd -text
/xhtmlValidatorTemplate.xhtml -text
zh-Hans.lproj/Localizable.strings -text svneol=unset#unset
