* text=auto !eol
/AddBlogValidationBackground.png -text svneol=unset#unset
/AddBlogValidationBackground@2x.png -text
/AddSiteViewController-iPad.xib -text
/AddUsersBlogsViewController-iPad.xib -text
/BlogViewController-iPad.xib -text
/BlogViewController.xib -text
Classes/AddSiteViewController.h -text
Classes/AddSiteViewController.m -text
Classes/AddSiteViewController.xib -text
Classes/AddUsersBlogsViewController.h -text
Classes/AddUsersBlogsViewController.m -text
Classes/AddUsersBlogsViewController.xib -text
Classes/AutosaveContentViewController.h -text
Classes/AutosaveContentViewController.m -text
Classes/AutosaveContentViewController.xib -text
Classes/AutosaveManager.h -text
Classes/AutosaveManager.m -text
Classes/AutosaveViewController.h -text
Classes/AutosaveViewController.m -text
Classes/AutosaveViewController.xib -text
Classes/Blog.h -text
Classes/Blog.m -text
Classes/BlogDataManager.h -text
Classes/BlogDataManager.m -text
Classes/BlogHTTPAuthenticationViewController.xib -text
Classes/BlogSettingsViewController.h -text
Classes/BlogSettingsViewController.m -text
Classes/BlogSettingsViewController.xib -text
Classes/BlogSplitViewDetailViewController.h -text
Classes/BlogSplitViewDetailViewController.m -text
Classes/BlogSplitViewDetailViewController.xib -text
Classes/BlogSplitViewMasterViewController.h -text
Classes/BlogSplitViewMasterViewController.m -text
Classes/BlogSplitViewMasterViewController.xib -text
Classes/BlogViewController.h -text
Classes/BlogViewController.m -text
Classes/BlogsViewController.h -text
Classes/BlogsViewController.m -text
Classes/CDeviceSupport.h -text
Classes/CDeviceSupport.m -text
Classes/CInvisibleToolbar.h -text
Classes/CInvisibleToolbar.m -text
Classes/CPopoverManager.h -text
Classes/CPopoverManager.m -text
Classes/Comment.h -text
Classes/Comment.m -text
Classes/CommentTableViewCell.h -text
Classes/CommentTableViewCell.m -text
Classes/CommentViewController.h -text
Classes/CommentViewController.m -text
Classes/CommentsTableViewDelegate.h -text
Classes/CommentsViewController.h -text
Classes/CommentsViewController.m -text
Classes/Constants.h -text
Classes/DashboardViewController.h -text
Classes/DashboardViewController.m -text
Classes/DraftManager.h -text
Classes/DraftManager.m -text
Classes/EditPageViewController.h -text
Classes/EditPageViewController.m -text
Classes/EditPageViewController.xib -text
Classes/EditPostParentModalViewController.xib -text
Classes/EditPostViewController.h -text
Classes/EditPostViewController.m -text
Classes/EditSiteViewController.h -text
Classes/EditSiteViewController.m -text
Classes/EditSiteViewController.xib -text
Classes/FlippingViewController.h -text
Classes/FlippingViewController.m -text
Classes/GravatarImageView.h -text
Classes/GravatarImageView.m -text
Classes/ImageCache.h -text
Classes/ImageCache.m -text
Classes/LocationController.h -text
Classes/LocationController.m -text
Classes/MediaManager.h -text
Classes/MediaManager.m -text
Classes/NSData+Base64.h -text
Classes/NSData+Base64.m -text
Classes/NSString+Util.h -text
Classes/NSString+Util.m -text
Classes/NSString+XMLExtensions.h -text
Classes/NSString+XMLExtensions.m -text
Classes/PageViewController.h -text
Classes/PageViewController.m -text
Classes/PagesViewController.h -text
Classes/PagesViewController.m -text
Classes/Post.h -text
Classes/Post.m -text
Classes/PostAnnotation.h -text
Classes/PostAnnotation.m -text
Classes/PostLocationViewController.h -text
Classes/PostLocationViewController.m -text
Classes/PostLocationViewController.xib -text
Classes/PostMediaEditViewController.h -text
Classes/PostMediaEditViewController.m -text
Classes/PostMediaEditViewController.xib -text
Classes/PostMediaViewController.h -text
Classes/PostMediaViewController.m -text
Classes/PostMediaViewController.xib -text
Classes/PostPreviewViewController.h -text
Classes/PostPreviewViewController.m -text
Classes/PostSettingsHelpViewController.h -text
Classes/PostSettingsHelpViewController.m -text
Classes/PostSettingsViewController.h -text
Classes/PostSettingsViewController.m -text
Classes/PostTableViewCell.h -text
Classes/PostTableViewCell.m -text
Classes/PostViewController.h -text
Classes/PostViewController.m -text
Classes/PostsViewController.h -text
Classes/PostsViewController.m -text
Classes/Reachability.h -text
Classes/Reachability.m -text
Classes/RefreshButtonView.h -text
Classes/RefreshButtonView.m -text
Classes/RegExProcessor.h -text
Classes/RegExProcessor.m -text
Classes/ResourcesTableViewSection.h -text
Classes/ResourcesTableViewSection.m -text
Classes/RotatingNavigationController.h -text
Classes/RotatingNavigationController.m -text
Classes/StatsCategoryViewController.xib -text
Classes/StatsViewController.xib -text
Classes/TransparentToolbar.h -text
Classes/TransparentToolbar.m -text
Classes/UIDevice-Hardware.h -text
Classes/UIDevice-Hardware.m -text
Classes/UIImage+INResizeImageAllocator.h -text
Classes/UIImage+INResizeImageAllocator.m -text
Classes/UITableViewActivityCell.h -text
Classes/UITableViewActivityCell.m -text
Classes/UITableViewSegmentedControlCell.h -text
Classes/UITableViewSegmentedControlCell.m -text
Classes/UITableViewSwitchCell.h -text
Classes/UITableViewSwitchCell.m -text
Classes/UITextViewCell.h -text
Classes/UITextViewCell.m -text
Classes/UIViewController+WPAnimation.h -text
Classes/UIViewController+WPAnimation.m -text
Classes/UIViewController_iPadExtensions.h -text
Classes/UIViewController_iPadExtensions.m -text
Classes/WPAddCategoryViewController.h -text
Classes/WPAddCategoryViewController.m -text
Classes/WPAsynchronousImageView.h -text
Classes/WPAsynchronousImageView.m -text
Classes/WPCategoriesController.h -text
Classes/WPCategoriesController.m -text
Classes/WPCategoryTree.h -text
Classes/WPCategoryTree.m -text
Classes/WPDataController.h -text
Classes/WPDataController.m -text
Classes/WPDataControllerDelegate.h -text
Classes/WPImagePickerController.h -text
Classes/WPImagePickerController.m -text
Classes/WPImageView.h -text
Classes/WPImageView.m -text
Classes/WPLabel.h -text
Classes/WPLabel.m -text
Classes/WPLabelFooterView.h -text
Classes/WPLabelFooterView.m -text
Classes/WPMediaUploader.h -text
Classes/WPMediaUploader.m -text
Classes/WPNavigationLeftButtonView.h -text
Classes/WPNavigationLeftButtonView.m -text
Classes/WPProgressHUD.h -text
Classes/WPProgressHUD.m -text
Classes/WPPublishOnEditController.h -text
Classes/WPPublishOnEditController.m -text
Classes/WPSegmentedSelectionTableViewController.h -text
Classes/WPSegmentedSelectionTableViewController.m -text
Classes/WPSelectionTableViewController.h -text
Classes/WPSelectionTableViewController.m -text
Classes/WPXMLReader.h -text
Classes/WPXMLReader.m -text
Classes/WPcomLoginViewController.h -text
Classes/WPcomLoginViewController.m -text
Classes/WPcomLoginViewController.xib -text
Classes/WebSignupViewController.h -text
Classes/WebSignupViewController.m -text
Classes/WelcomeViewController.h -text
Classes/WelcomeViewController.m -text
Classes/WordPress.xcdatamodel/elements -text
Classes/WordPress.xcdatamodel/layout -text
Classes/WordPressAppDelegate.h -text
Classes/WordPressAppDelegate.m -text
Classes/XMLRPC/XMLRPCConnection+Authentication.h -text
Classes/XMLRPC/XMLRPCConnection+Authentication.m -text
Classes/blue-m.png -text svneol=unset#unset
Classes/fabric.png -text svneol=unset#unset
Classes/firstrun-background.png -text svneol=unset#unset
Classes/firstrun-logo.png -text svneol=unset#unset
Classes/firstrun-wholebutton-default.png -text svneol=unset#unset
Classes/firstrun-wholebutton-selected.png -text svneol=unset#unset
Classes/glossyButton-disabled.png -text svneol=unset#unset
Classes/glossyButton-highlighted.png -text svneol=unset#unset
Classes/glossyButton-normal.png -text svneol=unset#unset
/CommentViewController.xib -text
/CommentsViewController.xib -text
/Default-Landscape.png -text svneol=unset#unset
/Default-Portrait.png -text svneol=unset#unset
/Default.png -text
/Default@2x.png -text
/Disclosure[!!-~]Indicator.png -text
/EditPageViewController-iPad.xib -text
/EditPostViewController-iPad.xib -text
/EditPostViewController.xib -text
/Entitlements.plist -text
/HttpHelper.h -text
/HttpHelper.m -text
/HttpHelperDelegate.h -text
/Icon-72.png -text
/Icon-Small-50.png -text
/Icon-Small.png -text
/Icon-Small@2x.png -text
/Icon.png -text svneol=unset#unset
/Icon@2x.png -text svneol=unset#unset
/Info.plist -text
/MainBackground.png -text
/MainWindow.xib -text
/ManagedObjectCloner.h -text
/ManagedObjectCloner.m -text
/Media.h -text
/Media.m -text
/PageViewController-iPad.xib -text
/PageViewController.xib -text
/PostPreviewViewController.xib -text
/PostSettingsViewController.xib -text
/PostViewController-iPad.xib -text
/PostViewController.xib -text
/RecentCommentButtonDeselected.png -text svneol=unset#unset
/RecentCommentButtonSelected.png -text svneol=unset#unset
/RegexKitLite.h -text
/RegexKitLite.m -text
Resources-iPad/MainWindow-iPad.xib -text
/RoundedRectBlack.png -text
Settings.bundle/Root.plist -text
Settings.bundle/en.lproj/Root.strings -text
/ToolbarIconCamera.png -text svneol=unset#unset
/ToolbarIconEye.png -text svneol=unset#unset
/ToolbarIconGear.png -text svneol=unset#unset
/ToolbarIconLocation.png -text svneol=unset#unset
/UIImage+Alpha.h -text
/UIImage+Alpha.m -text
/UIImage+Resize.h -text
/UIImage+Resize.m -text
/UIImage+RoundedCorner.h -text
/UIImage+RoundedCorner.m -text
/UITableViewActivityCell.xib -text
/UITableViewSegmentedControlCell.xib -text
/UITableViewSwitchCell.xib -text
/UITextViewCell.xib -text
/WPAddCategoryViewController.xib -text
/WPCategoriesController.xib -text
/WPMediaUploader.xib -text
/WPPhotoViewController.xib -text
/WPPhotosListViewController.xib -text
/WPPublishOnEditController.xib -text
/WPSelectionTableViewController.xib -text
/WPcomLoginViewController-iPad.xib -text
/WPpregressHUDBackground.png -text
/WPpregressHUDBackground@2x.png -text
/WebSignupViewController-iPad.xib -text
/WebSignupViewController.xib -text
/WelcomeViewController-iPad.xib -text
/WelcomeViewController.xib -text
WordPress.xcodeproj/project.pbxproj -text
/WordPress_Prefix.pch -text
/XMLRPCConnection.h -text
/XMLRPCConnection.m -text
/XMLRPCDecoder.h -text
/XMLRPCDecoder.m -text
/XMLRPCEncoder.h -text
/XMLRPCEncoder.m -text
/XMLRPCExtensions.h -text
/XMLRPCExtensions.m -text
/XMLRPCRequest.h -text
/XMLRPCRequest.m -text
/XMLRPCResponse.h -text
/XMLRPCResponse.m -text
/XMLValueDecoder.h -text
/XMLValueDecoder.m -text
/autosave.png -text
/autosave@2x.png -text
/backNav.png -text
/backNav@2x.png -text
/backNavd.png -text
/backNavd@2x.png -text
/category_child.png -text
/category_child@2x.png -text
/chart.png -text
/chart@2x.png -text
/check.png -text
/check@2x.png -text
/commentDelete.png -text
/comments.png -text
/comments@2x.png -text
/defaultPostTemplate.html -text
/defaultPostTemplate_old.html -text
/delete.png -text
/down.png -text
/down@2x.png -text
/favicon.png -text
/favicon@2x.png -text
/getLocation.png -text
/getLocation@2x.png -text
/gettingLocation.png -text
/gravatar.jpg -text
/hasLocation.png -text
/hasLocation@2x.png -text
/help.png -text
/iTunesArtwork -text
/license.txt -text
/lock.png -text
/logo_stacked.png -text
/logo_welcome.png -text
/logo_welcome@2x.png -text
/logo_wpcom.png -text
/logo_wpcom@2x.png -text
/logo_wporg.png -text
/logo_wporg@2x.png -text
/main.m -text
/pages.png -text
/pages@2x.png -text
/photos.png -text
/photos@2x.png -text
/posts.png -text
/posts@2x.png -text
/preview.png -text
/preview@2x.png -text
/sample.mov -text
/settings.png -text
/settings@2x.png -text
/sync.png -text svneol=unset#unset
/sync@2x.png -text
/uncheck.png -text
/uncheck@2x.png -text
/uncrustify.cfg -text
/up.png -text
/up@2x.png -text
/video_thumbnail.png -text
/welcome_bg.png -text
/welcome_bg@2x.png -text
/welcome_btn_normal.png -text
/welcome_btn_normal@2x.png -text
/welcome_btn_over.png -text
/welcome_btn_over@2x.png -text
/whitebg.png -text
/write.png -text
/write@2x.png -text
/xhtml1-transitional.dtd -text
/xhtmlValidatorTemplate.xhtml -text
