version: 2.1

orbs:
  ios: wordpress-mobile/ios@0.0.31

commands:
  load-chruby:
    steps:
      - run:
          name: Load chruby
          command: |
            # Force chruby to load to work around CircleCI Xcode 11 image issue
            echo 'source /usr/local/opt/chruby/share/chruby/chruby.sh && chruby 2.5.5' >> $BASH_ENV

jobs:
  unit-tests:
    executor:
      name: ios/default
      xcode-version: "11.0.0"
    steps:
      - checkout
      - load-chruby
      - ios/test:
          xcode-version: "11.0.0"
          workspace: WordPress.xcworkspace
          scheme: WordPress
          device: iPhone 11
          cache-prefix: xc11-clear
  build-ui-tests:
    executor:
      name: ios/default
      xcode-version: "11.0.0"
    steps:
      - checkout
      - load-chruby
      - ios/install-dependencies:
          bundle-install: true
          pod-install: true
          cache-prefix: xc11-clear
      - ios/xcodebuild:
          command: build-for-testing
          arguments: -workspace 'WordPress.xcworkspace' -scheme 'WordPressUITests' -configuration 'Debug' -sdk iphonesimulator -derivedDataPath DerivedData
      - persist_to_workspace:
          root: ./
          paths:
            - DerivedData/Build/Products
            - Pods/WordPressMocks
  run-ui-tests:
    parameters:
      device:
        type: string
    executor:
      name: ios/default
      xcode-version: "11.0.0"
    steps:
      - ios/boot-simulator:
          xcode-version: "11.0.0"
          device: << parameters.device >>
      - attach_workspace:
          at: ./
      - run:
          name: Run mocks
          command: ./Pods/WordPressMocks/scripts/start.sh 8282
          background: true
      - ios/wait-for-simulator
      - ios/xcodebuild:
          command: test-without-building
          arguments: -xctestrun DerivedData/Build/Products/WordPressUITests_iphonesimulator13.0-x86_64.xctestrun -destination "platform=iOS Simulator,id=$SIMULATOR_UDID"
      - ios/save-xcodebuild-artifacts

workflows:
  wordpress_ios:
    jobs:
      - unit-tests:
          name: build_and_test
  ui_tests:
    jobs:
      - build-ui-tests:
          name: Build UI Tests
      - run-ui-tests:
          name: UI Tests (iPhone 11)
          device: iPhone 11
          requires: [ "Build UI Tests" ]
      - run-ui-tests:
          name: UI Tests (iPad Air 6th generation)
          device: iPad Air \\(3rd generation\\)
          requires: [ "Build UI Tests" ]
