version: 2.1

orbs:
  # Using 1.0 of the Orbs means it will use the latest 1.0.x version from https://github.com/wordpress-mobile/circleci-orbs
  ios: wordpress-mobile/ios@1.0
  git: wordpress-mobile/git@1.0

commands:
  fix-path:
    steps:
      - run:
          name: Fix $PATH
          command: |
            # Add `/usr/local/bin` to the Xcode 11.2 image's $PATH in order to be able to use dependencies

            if [ $(echo $PATH | ruby -e "puts Kernel.gets.include?('/usr/local/bin')") != "true" ]; then
              echo 'export PATH=/usr/local/bin:$PATH' >> $BASH_ENV
              echo "Manually added `/usr/local/bin` to the $PATH:"
              echo $PATH
            fi

  save-xcresult:
    steps:
      - run:
          name: Zip xcresult
          command: |
            mkdir testresults
            zip -r testresults/xcresult.zip test-without-building.xcresult
          when: on_fail # Zips the .xcresult file when tests fail, so it can be saved
      - store_artifacts:
          name: Save xcresult
          path: testresults
          destination: logs

jobs:
  Build Tests:
    executor:
      name: ios/default
      xcode-version: "11.2.1"
    steps:
      - git/shallow-checkout
      - ios/install-dependencies:
            bundle-install: true
            pod-install: true
      - ios/xcodebuild:
          command: build-for-testing
          arguments: -workspace 'WordPress.xcworkspace' -scheme 'WordPress' -configuration 'Debug' -sdk iphonesimulator -derivedDataPath DerivedData
      - persist_to_workspace:
          root: ./
          paths:
            - DerivedData/Build/Products
            - Pods/WordPressMocks
  Unit Tests:
    executor:
      name: ios/default
      xcode-version: "11.2.1"
    steps:
      - fix-path
      - ios/boot-simulator:
          xcode-version: "11.2.1"
          device: iPhone 11
      - attach_workspace:
          at: ./
      - ios/wait-for-simulator
      - ios/xcodebuild:
          command: test-without-building
          arguments: -xctestrun DerivedData/Build/Products/WordPress_WordPressUnitTests_iphonesimulator13.2-x86_64.xctestrun -destination "platform=iOS Simulator,id=$SIMULATOR_UDID" -resultBundlePath test-without-building.xcresult
      - ios/save-xcodebuild-artifacts
      - save-xcresult
  UI Tests:
    parameters:
      device:
        type: string
    executor:
      name: ios/default
      xcode-version: "11.2.1"
    steps:
      - fix-path
      - ios/boot-simulator:
          xcode-version: "11.2.1"
          device: << parameters.device >>
      - attach_workspace:
          at: ./
      - run:
          name: Run mocks
          command: ./Pods/WordPressMocks/scripts/start.sh 8282
          background: true
      - ios/wait-for-simulator
      - ios/xcodebuild:
          command: test-without-building
          arguments: -xctestrun DerivedData/Build/Products/WordPress_WordPressUITests_iphonesimulator13.2-x86_64.xctestrun -destination "platform=iOS Simulator,id=$SIMULATOR_UDID" -resultBundlePath test-without-building.xcresult
      - ios/save-xcodebuild-artifacts
      - save-xcresult
  Installable Build:
    executor:
      name: ios/default
      xcode-version: "11.2.1"
    steps:
      - git/shallow-checkout
      - ios/install-dependencies:
            bundle-install: true
            pod-install: true
      - run:
          name: Copy Secrets
          command: bundle exec fastlane run configure_apply
      - run:
          name: Build
          working_directory: Scripts
          command: "bundle exec fastlane build_and_upload_installable_build build_number:$CIRCLE_BUILD_NUM"
      - run:
          name: Prepare Artifacts
          command: |
            mkdir -p Artifacts
            mv "Scripts/fastlane/comment.json" "Artifacts/comment.json"
      - store_artifacts:
          path: Artifacts
          destination: Artifacts
  Release Build:
    executor: 
      name: ios/default
      xcode-version: "11.2.1"
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - git/shallow-checkout
      - ios/install-dependencies:
            bundle-install: true
            pod-install: true
      - run: 
          name: Copy Secrets
          command: bundle exec fastlane run configure_apply
      - run: 
          name: Install other tools
          command: |
            brew unlink python@2
            brew install imagemagick
            brew install ghostscript
            curl -sL https://sentry.io/get-cli/ | bash

      - run:
          name: Build
          working_directory: Scripts
          command: "bundle exec fastlane build_and_upload_release skip_confirm:true"
          no_output_timeout: 60m

workflows:
  wordpress_ios:
    jobs:
      - Build Tests
      - Unit Tests:
          requires: [ "Build Tests" ]
      - UI Tests:
          name: UI Tests (iPhone 11)
          device: iPhone 11
          requires: [ "Build Tests" ]
      - UI Tests:
          name: UI Tests (iPad Air 3rd generation)
          device: iPad Air \\(3rd generation\\)
          requires: [ "Build Tests" ]
  Installable Build:
    jobs:
      - Hold:
          type: approval
          filters:
            branches:
              ignore: /pull\/[0-9]+/
      - Installable Build:
          requires: [Hold]  
          filters:
            branches:
              ignore: /pull\/[0-9]+/
  Release Build:
    jobs:
      - Release Build: 
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d.\d?(.\d)?(.\d)?(.\d{1,4})$/ 

