<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>WP Internal</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>WordPress Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wordpress_dark_icon_20pt</string>
					<string>wordpress_dark_icon_29pt</string>
					<string>wordpress_dark_icon_76pt</string>
					<string>wordpress_dark_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Open Source</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>open_source_icon_20pt</string>
					<string>open_source_icon_29pt</string>
					<string>open_source_icon_76pt</string>
					<string>open_source_icon_83.5</string>
					<string></string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Open Source Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>open_source_dark_icon_20pt</string>
					<string>open_source_dark_icon_29pt</string>
					<string>open_source_dark_icon_76pt</string>
					<string>open_source_dark_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Hot Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>hot_pink_icon_20pt</string>
					<string>hot_pink_icon_29pt</string>
					<string>hot_pink_icon_76pt</string>
					<string>hot_pink_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Jetpack Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>jetpack_green_icon_20pt</string>
					<string>jetpack_green_icon_29pt</string>
					<string>jetpack_green_icon_76pt</string>
					<string>jetpack_green_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pride_icon_20pt</string>
					<string>pride_icon_29pt</string>
					<string>pride_icon_76pt</string>
					<string>pride_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>WordPress Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wordpress_dark_icon_20pt</string>
					<string>wordpress_dark_icon_29pt</string>
					<string>wordpress_dark_icon_40pt</string>
					<string>wordpress_dark_icon_60pt</string>
					<string>wordpress_dark_icon_76pt</string>
					<string>wordpress_dark_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Open Source</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>open_source_icon_20pt</string>
					<string>open_source_icon_29pt</string>
					<string>open_source_icon_40pt</string>
					<string>open_source_icon_60pt</string>
					<string>open_source_icon_76pt</string>
					<string>open_source_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Open Source Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>open_source_dark_icon_20pt</string>
					<string>open_source_dark_icon_29pt</string>
					<string>open_source_dark_icon_40pt</string>
					<string>open_source_dark_icon_60pt</string>
					<string>open_source_dark_icon_76pt</string>
					<string>open_source_dark_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Hot Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>hot_pink_icon_20pt</string>
					<string>hot_pink_icon_29pt</string>
					<string>hot_pink_icon_40pt</string>
					<string>hot_pink_icon_60pt</string>
					<string>hot_pink_icon_76pt</string>
					<string>hot_pink_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Jetpack Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>jetpack_green_icon_20pt</string>
					<string>jetpack_green_icon_29pt</string>
					<string>jetpack_green_icon_40pt</string>
					<string>jetpack_green_icon_60pt</string>
					<string>jetpack_green_icon_76pt</string>
					<string>jetpack_green_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pride_icon_20pt</string>
					<string>pride_icon_29pt</string>
					<string>pride_icon_40pt</string>
					<string>pride_icon_60pt</string>
					<string>pride_icon_76pt</string>
					<string>pride_icon_83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${VERSION_SHORT}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>appcenter-bc2edad9-5b7d-aba0-1002-061304a31cea</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.wordpress</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wordpress-oauth-v2</string>
				<string>${WPCOM_SCHEME}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>GOOGLE_LOGIN_SCHEME_ID</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${VERSION_LONG}</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>org-appextension-feature-password-management</string>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>4.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To take photos or videos to use in your posts.</string>
	<key>NSLocationUsageDescription</key>
	<string>WordPress would like to add your location to posts on sites where you have enabled geotagging.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>WordPress would like to add your location to posts on sites where you have enabled geotagging.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Enable microphone access to record sound in your videos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To add photos or videos to your posts.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To add photos or videos to your posts.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Noticons.ttf</string>
	</array>
	<key>UIApplicationShortcutWidget</key>
	<string>org.wordpress.internal.WordPressTodayWidget</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
