#include "Common.debug.xcconfig"
#include "Version.public.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.automattic.readerapp

WP_PUSH_NOTIFICATION_APP_ID = TBD
WP_BUILD_CONFIGURATION = debug
WP_APP_URL_SCHEME = wpreader

PROVISIONING_PROFILE_SPECIFIER = Reader Development
CODE_SIGN_ENTITLEMENTS = ../Sources/Reader/Reader.entitlements
