#include "Common.release.xcconfig"
#include "Version.public.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.automattic.readerapp

WP_PUSH_NOTIFICATION_APP_ID = TBD
WP_BUILD_CONFIGURATION = release
WP_APP_URL_SCHEME = wpreader

PROVISIONING_PROFILE_SPECIFIER = match AppStore ${PRODUCT_BUNDLE_IDENTIFIER}
CODE_SIGN_ENTITLEMENTS = ../Sources/Reader/Reader.entitlements
