#include "Common.xcconfig"

CLANG_ENABLE_MODULES = YES
SWIFT_INSTALL_OBJC_HEADER = YES
ENABLE_MODULE_VERIFIER = NO
BUILD_LIBRARY_FOR_DISTRIBUTION = NO
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = NO
SWIFT_TREAT_WARNINGS_AS_ERRORS = NO
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO
GCC_TREAT_WARNINGS_AS_ERRORS = NO
