<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lang_id</key>
		<string>2</string>
		<key>name</key>
		<string>Afrikaans</string>
		<key>slug</key>
		<string>af</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>418</string>
		<key>name</key>
		<string>Alemannisch</string>
		<key>slug</key>
		<string>als</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>3</string>
		<key>name</key>
		<string>العربية</string>
		<key>slug</key>
		<string>ar</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>4</string>
		<key>name</key>
		<string>অসমীয়া</string>
		<key>slug</key>
		<string>as</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>420</string>
		<key>name</key>
		<string>Asturianu</string>
		<key>slug</key>
		<string>ast</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>421</string>
		<key>name</key>
		<string>Авар</string>
		<key>slug</key>
		<string>av</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>422</string>
		<key>name</key>
		<string>Aymar</string>
		<key>slug</key>
		<string>ay</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>79</string>
		<key>name</key>
		<string>Azərbaycan</string>
		<key>slug</key>
		<string>az</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>423</string>
		<key>name</key>
		<string>Башҡорт</string>
		<key>slug</key>
		<string>ba</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>5</string>
		<key>name</key>
		<string>Беларуская</string>
		<key>slug</key>
		<string>be</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>6</string>
		<key>name</key>
		<string>Български</string>
		<key>slug</key>
		<string>bg</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>7</string>
		<key>name</key>
		<string>Bamanankan</string>
		<key>slug</key>
		<string>bm</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>8</string>
		<key>name</key>
		<string>বাংলা</string>
		<key>slug</key>
		<string>bn</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>9</string>
		<key>name</key>
		<string>བོད་ཡིག</string>
		<key>slug</key>
		<string>bo</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>424</string>
		<key>name</key>
		<string>Brezhoneg</string>
		<key>slug</key>
		<string>br</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>454</string>
		<key>name</key>
		<string>Bosanski</string>
		<key>slug</key>
		<string>bs</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>10</string>
		<key>name</key>
		<string>Català</string>
		<key>slug</key>
		<string>ca</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>425</string>
		<key>name</key>
		<string>Нохчийн</string>
		<key>slug</key>
		<string>ce</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>11</string>
		<key>name</key>
		<string>Česky</string>
		<key>slug</key>
		<string>cs</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>12</string>
		<key>name</key>
		<string>Kaszëbsczi</string>
		<key>slug</key>
		<string>csb</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>426</string>
		<key>name</key>
		<string>Чӑваш</string>
		<key>slug</key>
		<string>cv</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>13</string>
		<key>name</key>
		<string>Cymraeg</string>
		<key>slug</key>
		<string>cy</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>14</string>
		<key>name</key>
		<string>Dansk</string>
		<key>slug</key>
		<string>da</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>15</string>
		<key>name</key>
		<string>Deutsch</string>
		<key>slug</key>
		<string>de</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>16</string>
		<key>name</key>
		<string>ཇོང་ཁ</string>
		<key>slug</key>
		<string>dz</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>17</string>
		<key>name</key>
		<string>Ελληνικά</string>
		<key>slug</key>
		<string>el</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>468</string>
		<key>name</key>
		<string>Greek-polytonic</string>
		<key>slug</key>
		<string>el-po</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>1</string>
		<key>name</key>
		<string>English</string>
		<key>slug</key>
		<string>en</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>18</string>
		<key>name</key>
		<string>Esperanto</string>
		<key>slug</key>
		<string>eo</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>19</string>
		<key>name</key>
		<string>Español</string>
		<key>slug</key>
		<string>es</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>20</string>
		<key>name</key>
		<string>Eesti</string>
		<key>slug</key>
		<string>et</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>429</string>
		<key>name</key>
		<string>Euskara</string>
		<key>slug</key>
		<string>eu</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>21</string>
		<key>name</key>
		<string>فارسی</string>
		<key>slug</key>
		<string>fa</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>22</string>
		<key>name</key>
		<string>Suomi</string>
		<key>slug</key>
		<string>fi</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>473</string>
		<key>name</key>
		<string>Filipino</string>
		<key>slug</key>
		<string>fil</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>23</string>
		<key>name</key>
		<string>Føroyskt</string>
		<key>slug</key>
		<string>fo</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>24</string>
		<key>name</key>
		<string>Français</string>
		<key>slug</key>
		<string>fr</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>478</string>
		<key>name</key>
		<string>Français de Belgique</string>
		<key>slug</key>
		<string>fr-be</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>475</string>
		<key>name</key>
		<string>Français (Canada)</string>
		<key>slug</key>
		<string>fr-ca</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>474</string>
		<key>name</key>
		<string>Français de Suisse</string>
		<key>slug</key>
		<string>fr-ch</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>25</string>
		<key>name</key>
		<string>Furlan</string>
		<key>slug</key>
		<string>fur</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>26</string>
		<key>name</key>
		<string>Frysk</string>
		<key>slug</key>
		<string>fy</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>27</string>
		<key>name</key>
		<string>Gaeilge</string>
		<key>slug</key>
		<string>ga</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>476</string>
		<key>name</key>
		<string>Gàidhlig</string>
		<key>slug</key>
		<string>gd</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>457</string>
		<key>name</key>
		<string>Galego</string>
		<key>slug</key>
		<string>gl</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>430</string>
		<key>name</key>
		<string>Avañeẽ</string>
		<key>slug</key>
		<string>gn</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>28</string>
		<key>name</key>
		<string>ગુજરાતી</string>
		<key>slug</key>
		<string>gu</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>29</string>
		<key>name</key>
		<string>עברית</string>
		<key>slug</key>
		<string>he</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>30</string>
		<key>name</key>
		<string>हिन्दी</string>
		<key>slug</key>
		<string>hi</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>431</string>
		<key>name</key>
		<string>Hrvatski</string>
		<key>slug</key>
		<string>hr</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>31</string>
		<key>name</key>
		<string>Magyar</string>
		<key>slug</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>467</string>
		<key>name</key>
		<string>Armenian</string>
		<key>slug</key>
		<string>hy</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>32</string>
		<key>name</key>
		<string>Interlingua</string>
		<key>slug</key>
		<string>ia</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>33</string>
		<key>name</key>
		<string>Bahasa Indonesia</string>
		<key>slug</key>
		<string>id</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>432</string>
		<key>name</key>
		<string>ꆇꉙ</string>
		<key>slug</key>
		<string>ii</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>469</string>
		<key>name</key>
		<string>Ilokano</string>
		<key>slug</key>
		<string>ilo</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>34</string>
		<key>name</key>
		<string>Íslenska</string>
		<key>slug</key>
		<string>is</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>35</string>
		<key>name</key>
		<string>Italiano</string>
		<key>slug</key>
		<string>it</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>36</string>
		<key>name</key>
		<string>日本語</string>
		<key>slug</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>37</string>
		<key>name</key>
		<string>ქართული</string>
		<key>slug</key>
		<string>ka</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>462</string>
		<key>name</key>
		<string>Қазақ тілі</string>
		<key>slug</key>
		<string>kk</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>39</string>
		<key>name</key>
		<string>ಕನ್ನಡ</string>
		<key>slug</key>
		<string>kn</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>40</string>
		<key>name</key>
		<string>한국어</string>
		<key>slug</key>
		<string>ko</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>433</string>
		<key>name</key>
		<string>कश्मीरी - (كشميري)</string>
		<key>slug</key>
		<string>ks</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>41</string>
		<key>name</key>
		<string>Kurdî / كوردي</string>
		<key>slug</key>
		<string>ku</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>434</string>
		<key>name</key>
		<string>Коми</string>
		<key>slug</key>
		<string>kv</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>42</string>
		<key>name</key>
		<string>Latina</string>
		<key>slug</key>
		<string>la</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>43</string>
		<key>name</key>
		<string>Limburgs</string>
		<key>slug</key>
		<string>li</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>44</string>
		<key>name</key>
		<string>ລາວ</string>
		<key>slug</key>
		<string>lo</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>45</string>
		<key>name</key>
		<string>Lietuvių</string>
		<key>slug</key>
		<string>lt</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>453</string>
		<key>name</key>
		<string>latvie&amp;scaron;u valoda</string>
		<key>slug</key>
		<string>lv</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>435</string>
		<key>name</key>
		<string>Македонски</string>
		<key>slug</key>
		<string>mk</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>46</string>
		<key>name</key>
		<string>മലയാളം</string>
		<key>slug</key>
		<string>ml</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>472</string>
		<key>name</key>
		<string>монгол хэл</string>
		<key>slug</key>
		<string>mn</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>461</string>
		<key>name</key>
		<string>मराठी Marāṭhī</string>
		<key>slug</key>
		<string>mr</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>47</string>
		<key>name</key>
		<string>Bahasa Melayu</string>
		<key>slug</key>
		<string>ms</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>465</string>
		<key>name</key>
		<string>Malti</string>
		<key>slug</key>
		<string>mt</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>464</string>
		<key>name</key>
		<string>Mirandés</string>
		<key>slug</key>
		<string>mwl</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>436</string>
		<key>name</key>
		<string>Nahuatl</string>
		<key>slug</key>
		<string>nah</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>437</string>
		<key>name</key>
		<string>Nnapulitano</string>
		<key>slug</key>
		<string>nap</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>48</string>
		<key>name</key>
		<string>Plattdüütsch</string>
		<key>slug</key>
		<string>nds</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>456</string>
		<key>name</key>
		<string>Nepali</string>
		<key>slug</key>
		<string>ne</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>49</string>
		<key>name</key>
		<string>Nederlands</string>
		<key>slug</key>
		<string>nl</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>50</string>
		<key>name</key>
		<string>Norsk (nynorsk)</string>
		<key>slug</key>
		<string>nn</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>51</string>
		<key>name</key>
		<string>Norsk (bokmål)</string>
		<key>slug</key>
		<string>no</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>52</string>
		<key>name</key>
		<string>Norrǿna</string>
		<key>slug</key>
		<string>non</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>53</string>
		<key>name</key>
		<string>Diné bizaad</string>
		<key>slug</key>
		<string>nv</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>54</string>
		<key>name</key>
		<string>Occitan</string>
		<key>slug</key>
		<string>oc</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>55</string>
		<key>name</key>
		<string>ଓଡ଼ିଆ</string>
		<key>slug</key>
		<string>or</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>56</string>
		<key>name</key>
		<string>Иронау</string>
		<key>slug</key>
		<string>os</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>57</string>
		<key>name</key>
		<string>ਪੰਜਾਬੀ</string>
		<key>slug</key>
		<string>pa</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>58</string>
		<key>name</key>
		<string>Polski</string>
		<key>slug</key>
		<string>pl</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>59</string>
		<key>name</key>
		<string>پښتو</string>
		<key>slug</key>
		<string>ps</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>60</string>
		<key>name</key>
		<string>Português</string>
		<key>slug</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>438</string>
		<key>name</key>
		<string>Português do Brasil</string>
		<key>slug</key>
		<string>pt-br</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>439</string>
		<key>name</key>
		<string>Runa Simi</string>
		<key>slug</key>
		<string>qu</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>61</string>
		<key>name</key>
		<string>Română</string>
		<key>slug</key>
		<string>ro</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>62</string>
		<key>name</key>
		<string>Русский</string>
		<key>slug</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>63</string>
		<key>name</key>
		<string>Sardu</string>
		<key>slug</key>
		<string>sc</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>440</string>
		<key>name</key>
		<string>سنڌي</string>
		<key>slug</key>
		<string>sd</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>471</string>
		<key>name</key>
		<string>Sinhala</string>
		<key>slug</key>
		<string>si</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>64</string>
		<key>name</key>
		<string>Slovenčina</string>
		<key>slug</key>
		<string>sk</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>65</string>
		<key>name</key>
		<string>Slovenščina</string>
		<key>slug</key>
		<string>sl</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>459</string>
		<key>name</key>
		<string>Somali</string>
		<key>slug</key>
		<string>so</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>66</string>
		<key>name</key>
		<string>Shqip</string>
		<key>slug</key>
		<string>sq</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>67</string>
		<key>name</key>
		<string>Српски / Srpski</string>
		<key>slug</key>
		<string>sr</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>441</string>
		<key>name</key>
		<string>Basa Sunda</string>
		<key>slug</key>
		<string>su</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>68</string>
		<key>name</key>
		<string>Svenska</string>
		<key>slug</key>
		<string>sv</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>69</string>
		<key>name</key>
		<string>தமிழ்</string>
		<key>slug</key>
		<string>ta</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>70</string>
		<key>name</key>
		<string>తెలుగు</string>
		<key>slug</key>
		<string>te</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>71</string>
		<key>name</key>
		<string>ไทย</string>
		<key>slug</key>
		<string>th</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>455</string>
		<key>name</key>
		<string>Tagalog</string>
		<key>slug</key>
		<string>tl</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>78</string>
		<key>name</key>
		<string>Türkçe</string>
		<key>slug</key>
		<string>tr</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>72</string>
		<key>name</key>
		<string>Tatarça</string>
		<key>slug</key>
		<string>tt</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>442</string>
		<key>name</key>
		<string>Reo Mā`ohi</string>
		<key>slug</key>
		<string>ty</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>443</string>
		<key>name</key>
		<string>Удмурт</string>
		<key>slug</key>
		<string>udm</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>444</string>
		<key>name</key>
		<string>Uyghur</string>
		<key>slug</key>
		<string>ug</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>73</string>
		<key>name</key>
		<string>Українська</string>
		<key>slug</key>
		<string>uk</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>74</string>
		<key>name</key>
		<string>اردو</string>
		<key>slug</key>
		<string>ur</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>463</string>
		<key>name</key>
		<string>valencià</string>
		<key>slug</key>
		<string>va</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>445</string>
		<key>name</key>
		<string>Vèneto</string>
		<key>slug</key>
		<string>vec</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>446</string>
		<key>name</key>
		<string>Tiếng Việt</string>
		<key>slug</key>
		<string>vi</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>75</string>
		<key>name</key>
		<string>Walon</string>
		<key>slug</key>
		<string>wa</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>447</string>
		<key>name</key>
		<string>Хальмг</string>
		<key>slug</key>
		<string>xal</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>76</string>
		<key>name</key>
		<string>ייִדיש</string>
		<key>slug</key>
		<string>yi</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>477</string>
		<key>name</key>
		<string>èdè Yorùbá</string>
		<key>slug</key>
		<string>yo</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>448</string>
		<key>name</key>
		<string>(Cuengh)</string>
		<key>slug</key>
		<string>za</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>77</string>
		<key>name</key>
		<string>中文</string>
		<key>slug</key>
		<string>zh</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>449</string>
		<key>name</key>
		<string>中文(简体)</string>
		<key>slug</key>
		<string>zh-cn</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>450</string>
		<key>name</key>
		<string>中文(繁體)</string>
		<key>slug</key>
		<string>zh-hk</string>
	</dict>
	<dict>
		<key>lang_id</key>
		<string>451</string>
		<key>name</key>
		<string>中文(简体)</string>
		<key>slug</key>
		<string>zh-sg</string>
	</dict>
</array>
</plist>
