<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>WP Alpha</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black-icon-app-60x60</string>
					<string>black-icon-app-76x76</string>
					<string>black-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Black Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black-classic-icon-app-60x60</string>
					<string>black-classic-icon-app-76x76</string>
					<string>black-classic-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Blue Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue-classic-icon-app-60x60</string>
					<string>blue-classic-icon-app-76x76</string>
					<string>blue-classic-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Celadon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>celadon-icon-app-60x60</string>
					<string>celadon-icon-app-76x76</string>
					<string>celadon-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Celadon Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>celadon-classic-icon-app-60x60</string>
					<string>celadon-classic-icon-app-76x76</string>
					<string>celadon-classic-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Hot Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>hot-pink-icon-app-60x60</string>
					<string>hot-pink-icon-app-76x76</string>
					<string>hot-pink-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
			</dict>
			<key>Jetpack Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>jetpack-green-icon-app-60x60</string>
					<string>jetpack-green-icon-app-76x76</string>
					<string>jetpack-green-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
			</dict>
			<key>Open Source</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>open-source-icon-app-60x60</string>
					<string>open-source-icon-app-76x76</string>
					<string>open-source-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Open Source Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>open-source-dark-icon-app-60x60</string>
					<string>open-source-dark-icon-app-76x76</string>
					<string>open-source-dark-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
			</dict>
			<key>Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink-icon-app-60x60</string>
					<string>pink-icon-app-76x76</string>
					<string>pink-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Pink Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink-classic-icon-app-60x60</string>
					<string>pink-classic-icon-app-76x76</string>
					<string>pink-classic-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pride-icon-app-60x60</string>
					<string>pride-icon-app-76x76</string>
					<string>pride-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
			</dict>
			<key>Spectrum</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>spectrum-icon-app-60x60</string>
					<string>spectrum-icon-app-76x76</string>
					<string>spectrum-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Spectrum Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>spectrum-classic-icon-app-60x60</string>
					<string>spectrum-classic-icon-app-76x76</string>
					<string>spectrum-classic-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>WordPress Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wordpress-dark-icon-app-60x60</string>
					<string>wordpress-dark-icon-app-76x76</string>
					<string>wordpress-dark-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black-icon-app-60x60</string>
					<string>black-icon-app-76x76</string>
					<string>black-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Black Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black-classic-icon-app-60x60</string>
					<string>black-classic-icon-app-76x76</string>
					<string>black-classic-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Blue Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue-classic-icon-app-60x60</string>
					<string>blue-classic-icon-app-76x76</string>
					<string>blue-classic-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Celadon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>celadon-icon-app-60x60</string>
					<string>celadon-icon-app-76x76</string>
					<string>celadon-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Celadon Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>celadon-classic-icon-app-60x60</string>
					<string>celadon-classic-icon-app-76x76</string>
					<string>celadon-classic-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Hot Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>hot-pink-icon-app-60x60</string>
					<string>hot-pink-icon-app-76x76</string>
					<string>hot-pink-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
			</dict>
			<key>Jetpack Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>jetpack-green-icon-app-60x60</string>
					<string>jetpack-green-icon-app-76x76</string>
					<string>jetpack-green-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
			</dict>
			<key>Open Source</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>open-source-icon-app-60x60</string>
					<string>open-source-icon-app-76x76</string>
					<string>open-source-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Open Source Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>open-source-dark-icon-app-60x60</string>
					<string>open-source-dark-icon-app-76x76</string>
					<string>open-source-dark-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
			</dict>
			<key>Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink-icon-app-60x60</string>
					<string>pink-icon-app-76x76</string>
					<string>pink-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Pink Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink-classic-icon-app-60x60</string>
					<string>pink-classic-icon-app-76x76</string>
					<string>pink-classic-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pride-icon-app-60x60</string>
					<string>pride-icon-app-76x76</string>
					<string>pride-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
			</dict>
			<key>Spectrum</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>spectrum-icon-app-60x60</string>
					<string>spectrum-icon-app-76x76</string>
					<string>spectrum-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Spectrum Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>spectrum-classic-icon-app-60x60</string>
					<string>spectrum-classic-icon-app-76x76</string>
					<string>spectrum-classic-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPRequiresBorder</key>
				<true/>
			</dict>
			<key>WordPress Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wordpress-dark-icon-app-60x60</string>
					<string>wordpress-dark-icon-app-76x76</string>
					<string>wordpress-dark-icon-app-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>WPLegacyIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${VERSION_SHORT}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>appcenter-199a0a9f-a4eb-4115-b9a9-091530b13357</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.wordpress</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wordpress-oauth-v2</string>
				<string>${WPCOM_SCHEME}</string>
				<string>pocketapp12013</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.108380595987-ujhrhknecrqli756i72gkcs4aaia6nhb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${VERSION_LONG}</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>org-appextension-feature-password-management</string>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>4.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To take photos or videos to use in your posts.</string>
	<key>NSLocationUsageDescription</key>
	<string>WordPress would like to add your location to posts on sites where you have enabled geotagging.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>WordPress would like to add your location to posts on sites where you have enabled geotagging.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Enable microphone access to record sound in your videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To add photos or videos to your posts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To add photos or videos to your posts.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Noticons.ttf</string>
	</array>
	<key>UIApplicationShortcutWidget</key>
	<string>org.wordpress.alpha.WordPressTodayWidget</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
